body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color:#1a1d21;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.containChannel {
    width: 20%;
    position: fixed;
    left: initial;
    padding-left: 20px;
    height: 100vh;
    background-color:#19171d;
    grid-column: 1 / 2; 
    border-right:1px solid #6d6c6c; 
    color: #757477;
}

.channelList {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.channel {
    padding: 7px;
    display: block;
    font-size:16px;
    font-weight: 700;
    color:#757477 
}

.active {
    background-color: rgba(17, 100, 163, 0.9);
    color: #bbb7ac 
}

a{
    text-decoration: none;
    color: #757477;
    font-size: 16px;
    font-weight: 700;
}

li:hover{
    background-color: rgba(17, 100, 163, 0.9);
    color:#bbb7ac  ;
}

.chatSpace{
    min-height: 90vh;
    background-color:#1a1d21;
    grid-column: 2 / 6;
    grid-row: 1/6;
    padding: 10px 20px 80px 40px;
    display: flex;
    flex-direction: column ;
}

.message{
    display:flex;
    margin-top: 20px;
    color: #bbb7ac;
}

.messageInfo {    
    margin-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.profilephoto{
    border: 1px solid #747779;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.interaction{
    display: flex;
    margin: 0;
}

.nickname {
    display: inline;
    margin: 0px 0px;
    font-weight: 700;
    font-size:18px;
}

.time{
    padding-top:3px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
}

.messageText{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
                    
input{
    border: none;
    background-color:  rgba(34, 37, 41, 0.7);
    color: #656769;
    width: 65vw;
    height: 35px;
    outline:0;
    padding-left:10px;
    font-size: 16px;
    font-weight: 400;
}

button{
    border: none;
    background-color: rgba(34, 37, 41, 0.7);
    width: 20px;
    height: 35px;
    outline: 0;
    color: #656769;
    font-size: 20px;
}


.textBox{
    width:70vw;
    height: 40px;
    position: fixed;
    bottom: 20px;
    border: 1px solid #747779;
    background-color:rgba(34, 37, 41, 0.7);
    border-radius: 5px;
    align-self: center;
    padding: 0px 10px;
      
}   